QFC_RPC_URL=https://rpc.testnet.qfc.network
ETH_RPC_URL=https://rpc.sepolia.org
BSC_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
RELAYER_PRIVATE_KEY=
BRIDGE_ADDRESS_QFC=
BRIDGE_ADDRESS_ETH=
BRIDGE_ADDRESS_BSC=
POLL_INTERVAL_MS=10000
PORT=3295
