QFC_RPC_URL=https://rpc.testnet.qfc.network
ETH_RPC_URL=https://rpc.sepolia.org
BSC_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
RELAYER_PRIVATE_KEY=
BRIDGE_ADDRESS_QFC=0x47ea0e0cdc65cc1f4f7b21f922219139f23e1a27
BRIDGE_ADDRESS_ETH=0x8E6d4cD14EB6eEFeB040a6ecE53d11dC9ef8137C
BRIDGE_ADDRESS_BSC=0x8E6d4cD14EB6eEFeB040a6ecE53d11dC9ef8137C
POLL_INTERVAL_MS=10000
PORT=3295
